.container_main{
    background-color: rgb(255, 255, 255);
    
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5rem;

    color: white;
    background: rgb(124,17,42);
    background: linear-gradient(90deg, rgb(58, 10, 21) 0%, rgb(85, 17, 52) 35%, rgb(232, 235, 179) 100%);
    height: 14rem;
}
.header h3:hover{
    opacity: 0.8;
}
.header img{
    width: 200px;
    height: 200px;
}
.container_image_section{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image:linear-gradient(rgba(5, 2, 2, 0.658),rgba(54, 50, 10, 0.5)100%), url('../assets/bg_malhando.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(148, 46, 46);
    color: white;

    height:calc(100% - 14rem);
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.presents_titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin-bottom: 6rem;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
    gap: 3rem;
}
.campo{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}
.campo input{
    text-align: center;
    padding: 0 0.5rem;

    height: 3rem;
}
.div_button_result{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width:100%;
    gap: 0.5rem;
}
#imc{
    height: 5rem;
    max-width: 19rem ;

    color: white;
    background-color: black;

    font-size: 2rem;

    border: none;
}
.container_button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;
    width:100%;
}
#button{
    width: 19rem;
    height: 4rem;

    background-color:rgb(65, 56, 11);
    color: white;

    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}
#button:hover{
    opacity: 0.8;
    border: 1px solid white;
}