.container_main{
    background-color: rgb(255, 255, 255);
    
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5rem;

    color: white;
    background: rgb(124,17,42);
    background: linear-gradient(90deg, rgb(58, 10, 21) 0%, rgb(85, 17, 52) 35%, rgb(232, 235, 179) 100%);
    height: 14rem;
}
.header h3:hover{
    opacity: 0.8;
}
.header img{
    width: 20.0rem;
    height: 20.0rem;
}
.container_section{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image:linear-gradient(rgba(5, 2, 2, 0.747),rgba(39, 37, 11, 0.596)100%), url('../assets/bg_malhando.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(148, 46, 46);
    color: white;

    padding: 0 15.0rem;
    height:calc(100% - 14rem);
}
.div_inf_imc{
    display: flex;
    gap: 5rem;

    width: 30%;
    height: 100%;
    padding-top:50.0rem ;
}
.div_inf_imc p{
    
    width: 50.0rem;
    height: 100%;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.presents_titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin-bottom: 10rem;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20.0rem;
    gap: 3rem;
}
.campo{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}
.campo input{
    text-align: center;
    padding: 0 0.5rem;

    height: 3rem;
}
.div_button_result{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width:100%;
    gap: 0.5rem;
}
#imc{
    height: 5rem;
    max-width: 19rem ;

    color: white;
    background-color: black;

    font-size: 2rem;

    border: none;
}
.container_button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;
    width:100%;
}
#button{
    width: 19rem;
    height: 4rem;

    background-color:rgb(65, 56, 11);
    color: white;

    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}
#button:hover{
    opacity: 0.8;
    border: 0.1rem solid white;
}
.imc_result{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    gap: 0.5rem;
    padding: 1rem;
    width: 19rem;
    height: 6rem;
}
.imc_result p{
    color: rgb(232, 235, 179);
}
.imc_result .result{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100%;
    height: 100%;

    border: 0.1rem solid white;
}
.imc_result_p{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}
.div_clear{
    position: relative;
    text-align: right;
    width: 100%;
    padding: 0 0.8rem;
}
.clear{
    width: 6rem;
    cursor: pointer;
}
.clear:hover{
    opacity: 0.8;
}
.div_span_erro{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 10rem;
    bottom: 0;
    color: rgb(221, 101, 101);
}
.active{
    display: inline;
}
.inative{
    display: none;
}
.div_inf_interpretation_imc{
    width: 30%;
}